{% extends 'base.html' %}{% block body %}<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img style="height: 100vh;" src="https://store-images.s-microsoft.com/image/apps.3148.79126df6-c7e8-4a03-bef4-9138b07e7a8f.13b073c6-2aac-4192-8706-bdad400dc182.baadee90-6f8c-41ec-b6d7-7048dc3af5a6" class="d-block w-100 " alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img style="height: 100vh;" src="https://static.bunnycdn.ru/i/cache/images/4/43/439225a93db9a9f4503724921439eb4e.jpg" class="d-block w-100 " alt="...">
    </div>
 
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>{% endblock body %}